<div class="page_container">

  <div class="col-lg-12 col-md-12">
    <h1>Your Restaurants</h2>
    <p>
      <%=link_to "Create new restaurant", new_restaurant_path,  class:"btn btn-success"%>
    </p>

  </div>

<% if !@restaurants.nil? %>
  <p>
    <%= will_paginate%>
  </p>
  <%@restaurants.each do |restaurant| %>
  <div class="col-lg-6 col-md-6">
    <div class="well">

      <%#=pluralize(user.tickets.count,"ticket") if user.tickets%>
      <h4><%=restaurant.name%></h4>
      <hr>
      <p>
        <%=restaurant.address%>
      </p>
      <p>
        <%=restaurant.post_code%>
      </p>
      <p>
        Cuisine(s):

        <%restaurant.cuisines.each do |cuisine|  %>

        <%= cuisine.title%>
        <% end %>

      </p>
      <hr>
      <%=link_to "Edit", edit_restaurant_path(restaurant),class:"btn btn-primary" %>
      <%=link_to "Show", restaurant_path(restaurant), class:"btn btn-info"%>
      <%=link_to "Delete", restaurant_path(restaurant), method: :delete, data: {confirm: "are you sure?"},class:"btn btn-danger" %>
      <%=link_to "Add New Cuisine", new_cuisine_path(restaurant) ,class:"btn btn-default"%>
      <%=link_to "Add New Category", new_category_path(restaurant) ,class:"btn btn-default"%>
      <%=link_to "Add Logo (300x300)", upload_logo_path(restaurant) ,class:"btn btn-default"%>
      <%=link_to "Add New Area", restaurant_areas_by_restaurant_path(restaurant) ,class:"btn btn-default"%>
      <% if !current_user.restaurants%>
      <span>There is no restaurant :(</span>
      <% end %>
    </div>
  </div>
  <% end %>

  <p>
    <%= will_paginate%>
  </p>
 <% end %>
</div>
