<div class="page_container">

  <div class="col-lg-2">
    <div class="restaurant-category">
      <div class="restaurant-list">
        <h2>Categories:</h2>
        <ul>
          <%@restaurant.categories.each do  |category|  %>
          <li><%=link_to category.title, category_product_list_path(category)%></li>
          <% end %>
          <ul></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="restaurant-detail">
          <div class="restaurant-info">
            <div class="row">
              <div class="col-lg-4">
                <%= image_tag @restaurant.logo_url(:thumb_for_list) %>
              </div>
              <div class="col-lg-8">
                <div class="restaurant-detail">
                  <h1>
                    <%=@restaurant.name%>
                  </h1>
                  <span>
                    <%=@restaurant.address%>
                    (<%=@restaurant.post_code%>)
                  </span>
                  <h2>
                    Open Hours
                  </h2>
                  <span>
                    <%= @restaurant.open_time %>:<%= @restaurant.open_time_minute %>
                    -
                    <%= @restaurant.close_time %>:<%= @restaurant.close_time_minute %>
                  </span>

                  <h2>Cuisine(s):</h2>
                  <%@restaurant.cuisines.each do |cuisine|  %>
                  <span><%= cuisine.title%></span>
                  <%  if cuisine != @restaurant.cuisines.last%>
                  ,
                  <% end %>
                  <% end %>

                </div>
              </div>

            </div>
          </div>

          <%@restaurant.categories.each do  |category|  %>
          <div class="restaurant-menus">
            <h2><%= category.title %></h2>

            <% category.products.each do |product| %>
            <div class="product-item">
              <div class="row">
                <div class="col-lg-10">
                  <h3><%=product.title%></h3>
                  <p><%=product.description%></p>
                </div>
                <div class="col-lg-2">
                  <div class="price">
                    <span ><%=number_to_currency(product.price, precision:2) %>
                      <span></div>
                      <div class="add-product-button">
                        <img src="/assets/plus-icon.png" / onclick="add_to_cart(<%=@restaurant.id%>, <%=product.id %> )">
                      </div>

                    </div>
                  </div>
                </div>
                <% end %>

              </div>
              <% end %>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="collection-delivery">
              <div class="collaction-delivery-detail">
                <div>
                  <%=radio_button_tag 'collection-delivery', 'Collection', @restaurant.has_collection,disabled:!@restaurant.has_collection %>
                  <span>Collection</span>
                  <%=radio_button_tag 'collection-delivery', 'Delivery', false,disabled:!@restaurant.has_delivery%>
                  <span>Delivery</span>
                </div>
                <div class="delivery_time">Delivery Time :
                  <%=@restaurant.delivery_time%>
                  *</div>
              </div>
            </div>
            <div class="chart-detail">
              <div class="cart-item">
                <h1>Cart</h1>
                <div>
                  <%if @cart.nil? %>
                  your cart is empty.
                  <% elsif %>

                  <%@total = 0 %>
                  <%@cart.cartproducts.each do |cartproduct|  %>

                  <div class="cart-line-item">
                    <div class="col-lg-8"><%=cartproduct.product.title%></div>
                    <div class="col-lg-1"><%=cartproduct.productcount%></div>
                    <div class="col-lg-1"><%=number_to_currency(cartproduct.productcount*cartproduct.product.price, precision:2)%></div>
                    <div class="col-lg-2 text-right"><img src="/assets/minus-icon.png" / onclick="remove_from_cart(<%=cartproduct.id %> )"></div>
                  </div>
                  <%@total += cartproduct.productcount*cartproduct.product.price%>

                  <% end %>
                  <div class="cart-item-total text-right">
                    Total :
                    <%=number_to_currency(@total, precision:2)%>
                  </div>
                  <% end %>

                </div>
              </div>
            </div>

            <div class="store-owner-buttons">
              <%=link_to "Edit", edit_restaurant_path(@restaurant) ,class:"btn btn-default"%>
              |
              <%=link_to "Add New Cuisine", new_cuisine_path(@restaurant) ,class:"btn btn-default"%>
              |
              <%=link_to "Add New Category", new_category_path(@restaurant) ,class:"btn btn-default"%>
              |
              <%=link_to "Add Logo (300x300)", upload_logo_path(@restaurant) ,class:"btn btn-default"%>
              |
              <%=link_to "Back to restaurant list", restaurants_path %>
            </div>

          </div>

        </div>
